.todoListMain > .ToDoItemsV2 {
    margin: 20px 0px;
    padding: 0;
    list-style: none;
}

.todoListMain > .ToDoItemsV2 li {
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    margin-bottom: -1px;
    padding: 10px 15px;
}

.todoListMain > .ToDoItemsV2 li.completed {
    background-color: #dff0d8;
}

.todoListMain > .ToDoItemsV2 li .actions {
    display: flex;
    justify-content: space-between;
    width: 40px;
}

.todoListMain > .ToDoItemsV2 li span {
    cursor: pointer;
}

.todoListMain > .ToDoItemsV2 li span.hide {
    visibility: hidden;
}

.todoListMain > .ToDoItemsV2 li span.done {
    color: #79c41d;
    display: block;
}

.todoListMain > .ToDoItemsV2 li span.trash {
    color: #c41d1d;
    display: block;
}